    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@GetLayout()" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Login)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

@code {
    [Inject] private AuthState AuthState { get; set; } = default!;

    private Type GetLayout()
    {
        return AuthState.IsAuthenticated ? typeof(MainLayout) : typeof(Login);
    }
}
